<% 
 @quads = @ipaddress_eth0.split(/\./)
 @ptraddr = @quads.reverse.join(".") + ".in-addr.arpa."
%>
(
echo update delete <%= @ptraddr %> PTR
echo update add <%= @ptraddr %> 180 PTR <%= @fqdn %>
echo send
) | nsupdate -k <%= @nsupdate_key %>
