(
echo update delete <%= @fqdn %> A
echo update add <%= @fqdn %> 180 A <%= @ipaddress_eth0 %>
<% if scope.lookupvar('::dyndns::client::cname') != '' %>
echo update delete <%= scope.lookupvar('::dyndns::client::cname') + "." + @domain %> CNAME
echo update add <%= scope.lookupvar('::dyndns::client::cname') + "." + @domain %> 180 CNAME <%= @fqdn %>
<% end %>
echo send
) | nsupdate -k <%= @nsupdate_key %>
