$ORIGIN .
$TTL 1800
<%= scope.lookupvar('::dyndns::server::domain') %> IN SOA <%= scope.lookupvar('fqdn') %>. hostmaster.<%= scope.lookupvar('::dyndns::server::domain') %>. (
                         2011112904 ; serial
                         60         ; refresh (1 minute)
                         15         ; retry (15 seconds)
                         1800       ; expire (30 minutes)
                         10         ; minimum (10 seconds)
                          )
                     NS <%= scope.lookupvar('fqdn') %>.
$ORIGIN <%= scope.lookupvar('::dyndns::server::domain') %>.
<%= scope.lookupvar('hostname') %>	              A        <%= scope.lookupvar('ipaddress') %>
