// Managed by puppet - module drebes-dyndns

key <%= scope.lookupvar('::dyndns::server::domain') %> {
  algorithm <%= scope.lookupvar('::dyndns::server::bind_key_algorithm') %>;
  secret "<%= scope.lookupvar('::dyndns::server::bind_key') %>";
};
