// Managed by puppet - module drebes-dyndns

// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.

options {
    listen-on port 53 { any; };
    directory "/var/named";
    dump-file "/var/named/data/cache_dump.db";
    statistics-file "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    allow-query { any; };
    recursion yes;

    /* Path to ISC DLV key */
    bindkeys-file "/etc/named.iscdlv.key";

    // set forwarding to the next nearest server (from DHCP response
    forward only;
    include "forwarders.conf";
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

// use the default rndc key
include "/etc/rndc.key";

controls {
    inet 127.0.0.1 port 953
    allow { 127.0.0.1; } keys { "rndc-key"; };
};

include "/etc/named.rfc1912.zones";

include "<%= scope.lookupvar('::dyndns::server::domain') %>.key";

zone "<%= scope.lookupvar('::dyndns::server::domain') %>" IN {
    type master;
    file "dynamic/<%= scope.lookupvar('::dyndns::server::domain') %>.db";
    allow-update { key <%= scope.lookupvar('::dyndns::server::domain') %> ; } ;
};

zone "<%= scope.lookupvar('::dyndns::server::reverse') %>" IN {
    type master;
    file "dynamic/<%= scope.lookupvar('::dyndns::server::reverse') %>.db";
    allow-update { key <%= scope.lookupvar('::dyndns::server::domain') %> ; } ;
};

// create a place for drebes infrastructure ip/name mapping
include "oo_infrastructure.conf";
