// Managed by puppet - module drebes-figaro

// define a zone for infrastructure hosts
<% unless scope.lookupvar('::figaro::dns_infrastructure_key').empty? -%>
include "<%= scope.lookupvar('::figaro::dns_infrastructure_zone') %>.key";
<% end -%>

zone "<%= scope.lookupvar('::figaro::dns_infrastructure_zone') %>" IN {
    type master;
    file "dynamic/<%= scope.lookupvar('::figaro::dns_infrastructure_zone') %>.db";
    allow-update { key <%= scope.lookupvar('::figaro::dns_infrastructure_zone') %> ; } ;
};

