// Managed by puppet - module drebes-figaro

key <%= scope.lookupvar('::figaro::dns_infrastructure_zone') %> {
  algorithm <%= scope.lookupvar('::figaro::dns_infrastructure_key_algorithm') %>;
  secret "<%= scope.lookupvar('::figaro::dns_infrastructure_key') %>";
};
