$ORIGIN .
$TTL 1800
<%= scope.lookupvar('::figaro::dns_infrastructure_zone') %> IN SOA ns1.<%= scope.lookupvar('::figaro::dns_infrastructure_zone') %>. hostmaster.<%= scope.lookupvar('::figaro::dns_infrastructure_zone') %>. (
                         2011112904 ; serial
                         60         ; refresh (1 minute)
                         15         ; retry (15 seconds)
                         1800       ; expire (30 minutes)
                         10         ; minimum (10 seconds)
                          )
                     NS ns1.<%= scope.lookupvar('::figaro::dns_infrastructure_zone') %>.
$ORIGIN <%= scope.lookupvar('::figaro::dns_infrastructure_zone') %>.
ns1	IN	A        <%= scope.lookupvar('::ipaddress') %>

;; add the remaining hosts
<%- scope.lookupvar('::figaro::dns_infrastructure_names').each do |rr| -%>
<%= rr['hostname'].gsub(/\.#{scope.lookupvar('::figaro::dns_infrastructure_zone')}$/, '') -%>	IN	A	<%= rr['ipaddr'] %>
<%- end -%>
